.app-node {
  min-width: 220px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: white;
  color: #333;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);

  &__header {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
  }

  &__separator {
    padding-left: 1px;
    padding-right: 1px;
  }

  &__params {
    &--output {
      text-align: right;
    }
  }
}