.app-node {
  $root: &;
  min-width: 220px;
  padding-top: 0.5rem;
  background: white;
  color: #555;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);

  &__header {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    font-weight: 600;
  }

  &__separator {
    padding-left: 1px;
    padding-right: 1px;
  }

  &__params {
    &--output {
      text-align: right;
    }
  }

  &__actions {
    opacity: 0;
    transition: opacity 200ms;
  }

  &:hover {
    #{$root}__actions {
      opacity: 1;
    }
  }

  &-action {
    background: transparent;
    border: none;
    filter: brightness(0);
    transition: transform 200ms;

    &:hover {
      transform: scale(1.1);
    }
  }
}