.console-input {
  input {
    width: 100%;

    opacity: 0.8;
    transition: opacity 200ms ease-out;
  }

  &--focused {
    input {
      opacity: 1;
    }
  }

  &__hints {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;

    .app-select {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}