.console-input {
  textarea {
    display: block;
    width: 100%;
    resize: none;
    font: inherit;

    opacity: 0.8;
    transition: opacity 200ms ease-out;
  }

  &--focused {
    textarea {
      opacity: 1;
    }
  }

  &__hints {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;

    .app-select {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__error {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    padding: 0.25em;

    color: #ce2727;
    font-weight: bold;
    background: white;
    border: 1px solid #ff6b6b;
    font-size: 0.85em;
  }
}