.app-graph {
  position: relative;
  width: 100%;
  height: 100%;
  background: #4898b1;

  svg {
    // border: 1px solid red;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    path {
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
    }
  }
  
  &__nodes {
    .app-node {
      position: absolute;
    }
  }
}