.palette-button {
  position: absolute;
  top: 0.5em;
  right: 3em;

  display: grid;
  place-content: center;
  width: 2.25em;
  height: 2.25em;

  background: transparent;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: background 150ms;

  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }
}
